<section class="block container block--dark showcase-block block--skewed-right">
    <header class="block__header">
        <h2 class="showcase__heading">User Friendly Control Panel</h2>
    </header>
    
       <div class="grid grid--1x2">
           <div class="showcase-block__img">
               <img  src="/images/ipad.png" alt="">
        </div>
               <article class="showcase__content">
               <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#clock"></use>
                    </svg>
                </div>
                <div class="media__body">
            <h3 class="media__title">Easy start && Managed Updates </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tenetur?</p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#gallery"></use>
                    </svg>
                </div>
                <div class="media__body">
            <h3 class="media__title">Easy start && Managed Updates </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tenetur?</p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#menu"></use>
                    </svg>
                </div>
                <div class="media__body">
            <h3 class="media__title">Easy start && Managed Updates </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, tenetur?</p>
                </div>
            </div>
               </article>
       </div>
</section>
